{
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "quoteProps": "consistent",
  "singleQuote": false,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
